h1
 {
 	color: #FFACAC;
 	font-family: arial;
 	src: C:\Windows\Fonts;
 	font-style: bold;
 }


 h2
 {
 	color: #FF6363;
 	font-family: arial;
 	src: C:\Windows\Fonts;
 	font-style: bold;
 }

 h3
 {
 	color: #F8B400;
 	font-family: arial;
 	src: C:\Windows\Fonts;
 	font-style: bold;

 }

 body
 {
 	background-color: #815B5B;
 	color: #FFACAC;
 	font-family: arial;
 	src: C:\Windows\Fonts;
 	font-style: bold;
 }

#titre
{
	width:800 px;
	margin:0 auto;
	text-align: center;	
	align-content: center;
}


p
{ 
	color: #BDE6F1;
 	font-family: arial;
 	src: C:\Windows\Fonts;
 	font-style: italic;

ul
 {
 	margin-left: 80 px;
 	margin-right: 80 px;
 	color: #EFD345;
 	font-family: arial;
 	src: C:\Windows\Fonts;
 	font-style: normal;
 	text-align: justify	
 	
 	list-style-position: outside;
	align-content: center;

 }


 
