body {
  background-color: #AC4B1C;
  font-family: 'Bona Nova', serif;
}
.sujeto {
  font-size: 100px;
  background-color: #FFEFA0;
  border-radius: 15px;
  color: #AC4B1C;
  justify-content: space-evenly;
}
.dates {
  font-size: 35px;
  background-color: #FCA652;
  border-radius: 5px;
  color: #AC4B1C;
  justify-content: space-evenly;
}
.lista {
  color: #FCA652;
}
