body {
  background-color: #AC4B1C;
  font-family: 'Bona Nova', serif;
}
.sujeto {
  font-size: 100px;
  background-color: #FFEFA0;
  border-radius: 15px;
  color: #AC4B1C;
  justify-content: space-evenly;
}

.HISTOIRE {
display: flex;
  width: 500px;
	height: 90px;
  justify-content: flex-start;
  border: 1px solid #FFD57E; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #FFD57E; /*color botón*/
  color: #FCA652; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Bona Nova', serif
  font-size: 350px;
  border-radius: 40px; /*bordes redondos*/
}
section {
    width:500px;
    float:left;
    padding:50px;
    font-size:80px;
}
.GÉOGRAPHIE {
display: center;
  width: 500px;
	height: 90px;
  justify-content: flex-end;
  border: 1px solid #FFD57E; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #FFD57E; /*color botón*/
  color: #FCA652; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Bona Nova', serif
  font-size: 350px;
  border-radius: 40px; /*bordes redondos*/
}
aside {
    width:500px;
    float:right;
    padding: 50px;
    font-size: 80px;
}